#### Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

pandas is well suited for many different kinds of data:
* tabular data with heterogeneously-typed columns, as for example in Excel spreadsheet,
* ordered and unordered (not necessarily fixed-frequency) time series data,
* arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels,
* any other form of observational / statistical data sets.

The data need not be labeled to be placed into a pandas data structure.

The two primary data structures of pandas, **Series** (1-dimensional) and **DataFrame** (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. For **R** users, DataFrame provides everything that R’s data.frame provides and much more. pandas is built on top of **NumPy** and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

Key features:

* easy handling of **missing data**
* **size mutability**: columns can be inserted and deleted from DataFrame
* automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
* powerful, flexible **group by** functionality to perform split-apply-combine operations on data sets
* make it **easy to convert** ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
* intelligent label-based **slicing**, **fancy indexing**, and **subsetting** of large data sets
* intuitive **merging** and **joining** data sets
* flexible **reshaping** and pivoting of data sets
* **hierarchical** labeling of axes (possible to have multiple labels per tick)
* robust IO tools for loading data from **flat files** (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
* **time series**-specific functionality

Exersise: let us now use pandas to read csv file that contains observational air quality data from one of the monitoring sites in London. The data are hourly measurements of ozone (O3), nitrogen oxides (NOx), carbon monoxide (CO) and PM10 particulate matter.

In [2]:
import pandas as pd

In [3]:
path = '/local/mwe14avu/UEA/docs/@UEAPython'
fname = 'AirQualityDataHourly.csv'

In [4]:
# Read data
df = pd.read_csv(fname, sep=',', header=4, skipfooter=4, na_values='No data', parse_dates=[0], engine='python')

In [ ]:
# View data
df.head()

In [ ]:
df.tail()

Try to use tab completion with column names:

In [10]:
df.Ozone.values

array([ 13.70381,   8.58151,   9.77893, ...,   8.43183,   5.63785,
         4.83957])

It seems that autocomplition does not work when column name contains spaces, so let us rename columns for later convenience:

In [ ]:
NO.columns = ['date', 'time', 'no', 'status']

In [13]:
# Old column names
df.columns

Index(['Start date', 'End Date', 'Ozone', 'Status',
       'Nitrogen oxides as nitrogen dioxide', 'Status.1', 'Carbon monoxide',
       'Status.2', 'PM10 particulate matter (Hourly measured)', 'Status.3',
       'Cobalt', 'Status.4'],
      dtype='object')

In [14]:
# New column names
df.columns = ['date', 'hour', 'O3', 'O3_status', 'NOx', 'NOx_status', 'CO', 'CO_status', 'PM10', 'PM10_status', 'Co', 'Co_status']
df.columns

Let us concentrate our attention on the first 4 chemical species, and remove cobalt data from our data frame:

In [19]:
df = df.drop('Co', 1)
df = df.drop('Co_status', 1)

In [21]:
df.head()

,date,hour,O3,O3_status,NOx,NOx_status,CO,CO_status,PM10,PM10_status
0,2015-01-01,01:00:00,13.70381,V ugm-3,177.01526,V ugm-3,0.375260,V mgm-3,39.3,V ugm-3 (TEOM FDMS)
1,2015-01-01,02:00:00,8.58151,V ugm-3,294.46380,V ugm-3,0.542517,V mgm-3,41.1,V ugm-3 (TEOM FDMS)
2,2015-01-01,03:00:00,9.77893,V ugm-3,209.99537,V ugm-3,0.406306,V mgm-3,35.1,V ugm-3 (TEOM FDMS)
3,2015-01-01,04:00:00,13.96990,V ugm-3,160.89863,V ugm-3,0.281445,V mgm-3,27.6,V ugm-3 (TEOM FDMS)
4,2015-01-01,05:00:00,15.66625,V ugm-3,153.89362,V ugm-3,0.250303,V mgm-3,27.9,V ugm-3 (TEOM FDMS)

In [22]:
df.O3.describe()

count    8601.000000
mean       15.106245
std        12.428715
min        -0.548820
25%         5.039140
50%        11.425380
75%        21.703240
max        69.749710
Name: O3, dtype: float64

As you see, we have negative values of ozone concentration, which is probably not correct. So, let us replace those negative values with NaN:

In [26]:
# Replace negative ozone values with NaN
df[df.O3.values < 0] = None

/local/mwe14avu/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: RuntimeWarning: invalid value encountered in less
  from ipykernel import kernelapp as app

In [23]:
# Useful trick for plotting titles
df.NOx.name

'NOx'

References:
* Data source: https://uk-air.defra.gov.uk/data/
* Site description: https://uk-air.defra.gov.uk/networks/site-info?uka_id=UKA00315
* http://pandas.pydata.org/pandas-docs/stable/index.html#module-pandas
* http://pandas.pydata.org/pandas-docs/stable/10min.html